;;;
;; This mindlessly duplicates some npm aliases so peoople using bb can do so.
;;
;; We depends on some globally installed npm packages as well as node
;; npm install -g serve
;; npm install -g rollup
;;
;; bb server serves on localhost:5010
;;;
{:paths ["bb_scripts"]
 :tasks {:requires ([clojure.java.shell :refer [sh]]
                    ;[clojure.edn :as edn]
                    ;[clojure.string :as s]
                    [updates.updates :as u])
         fetch {:doc "Fetch and compress data.csv"
                :task (if u/fetch?
                        (sh "node" "compress-data.js")
                        (println "no new data yet"))}
         build {:doc "Rebuild the js using rollup"
                :task (sh "rollup" "-c")}
         week {:doc "Print the current week numbe"
               :task (prn u/this-week)}
         dataw {:doc "Print the max week number present in data.csv"
                :task (prn u/data-week)}
         serve {:doc "Serve on localhost:5010"
                :task (sh "serve" "--single" "." "--listen" "5010")}
         publish {:doc "Publish to netlify via github. Conventionally we commit with a message indicating the stop week"
                  :task (sh "git" "push")}}}